packages:
  yum:
    git: []

commands:
  01_install_node:
    command: |
      sudo curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash -
      sudo yum -y install nodejs 
    leader_only: true
  02_npm_install:
    command: "cd /opt/python/current/app"
    command: "sudo npm install"
  03_build_bundlejs:
    command: "sudo npm run build"