<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock title %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h2 class="pull-left text-center text-danger">Sign Up for Penny</h2>
    <p class="text-center font-weight-bold">Connect with great local businesses</p>
    <p class="text-sm-center">
        <small>
            By continuing, you agree to Penny's Terms of Service and Privacy Policy.
        </small>
    </p>

    <div class="form-col">
        <div class="col">
            <input type="text"
                   class="form-control"
                   name="{{ form.firstname.name }}"
                   id="{{ form.firstname.id_for_label }}"
                   placeholder="First Name"
                   {% if form.firstname.value is not None %}
                   value="{{ form.firstname.value|stringformat:'s' }}"
                   {% endif %}
                   maxlength="{{ form.firstname.field.max_length }}"
                   required />
        </div>
        <div class="col">
            <input type="text"
                   class="form-control"
                   name="{{ form.lastname.name }}"
                   id="{{ form.lastname.id_for_label }}"
                   placeholder="Last Name"
                   {% if form.lastname.value is not None %}
                   value="{{ form.lastname.value|stringformat:'s' }}"
                   {% endif %}
                   maxlength="{{ form.lastname.field.max_length }}"
                   required />
        </div>
    </div>

    <div class="form-group" data-validate="Enter Email">
        <input type="text"
               class="form-control"
               name="{{ form.username.name }}"
               id="{{ form.username.id_for_label }}"
               placeholder="Username"
               {% if form.username.value is not None %}
               value="{{ form.username.value|stringformat:'s' }}"
               {% endif %}
               maxlength="{{ form.username.field.max_length }}"
               required />
    </div>

    <div class="form-group" data-validate="Enter Password">
        <input type="password"
               class="form-control"
               name="{{ form.password1.name }}"
               id="{{ form.password1.id_for_label }}"
               placeholder="Password"
               {% if form.password.value is not None %}
               value="{{ form.password1.value|stringformat:'s' }}"
               {% endif %}
               maxlength="{{ form.password1.field.max_length }}"
               required />
    </div>

    <div class="form-group">
        <input type="password"
               class="form-control"
               name="{{ form.password2.name }}"
               {% if form.password.value is not None %}
               value="{{ form.password2.value|stringformat:'s' }}"
               {% endif %}
               id="{{  form.password2.id_for_label }}"
               placeholder="Confirm password."
               required />
    </div>

    <p class="text-left font-weight-bold">
        Birthday
        <small class="text-muted">Optional</small>

        <input type="text" id="date" data-format="DD-MM-YYYY" data-template="D MMM YYYY" name="date" placeholder="Day-Month-Year">
        <script>
            $(function () {
                $('#date').combodate();
            });
        </script>
    </p>

    {% if form.errors %}
    <p class="text-center font-weight-bold">"{{ form.errors }}" username or password is not correct!</p>
    {% endif %}
    <button type="submit" class="btn btn-danger btn-lg btn-block">Sign Up</button>
    <p class="text-sm-right">
        <small id="forgetPasswordHelp" class="form-text text-muted">
            Already on Penny?
            <a href="{% url 'login' %}">Log in</a>
        </small>
    </p>
</form>
{% endblock content %}
